.settings {

  .jumbotron {
    height: 200px;
    padding: 20px;
    color: #fff;
    background: url(../../assets/background.png) no-repeat center center;
    background-size: cover;

    .notice {
      max-width: 960px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }

    .name {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 30px;
    }

    .desc {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .config-option {
    cursor: pointer;
  }

  // reset part

  .ant-form-item {
    margin-bottom: 20px;
  }
}

.ant-modal {

  .user {
    padding: 20px 60px;
  }

  .ant-form-item {
    position: relative;

    .ant-form-explain {
      opacity: 0;
      transition: opacity .1s ease-out;
    }

    .has-error .ant-form-explain {
      opacity: 1;
    }
  }
}
