.settings {

  .jumbotron {
    height: 200px;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);

    .notice {
      max-width: 960px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }

    .name {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 30px;
    }

    .desc {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .content {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;

    form {
      padding: 0 20px;

      label {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
      }

      input {
        max-width: 500px;
      }
    }
  }

  // reset part

  .ant-form-item {
    margin-bottom: 20px;
  }
}
