.dashboard-container {

  .dashboard {
    max-width: 960px;
    margin: 0 auto;
  }

  .loading {
    text-align: center;
    line-height: 40px;
  }

  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 0;

    .avatar {
      width: 70px;
      height: 70px;
      margin-right: 30px;
      background-color: rgb(0, 195, 194);
      border-radius: 50%;
      color: #fff;
      line-height: 70px;
      font-size: 20px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .desc {

    .username {
      font-size: 36px;
      color: #666;
    }

    .tip {
      color: #333;
      font-size: 16px;
    }
  }

  .org {
    margin: 25px;

    .name {
      margin-bottom: 10px;
      padding: 10px 0;
      font-size: 16px;
      color: #666;
      border-bottom: 1px solid #e6e6e6;

      .create-btn {
        cursor: pointer;
      }
    }
  }
}